/*  Color Palette
**************************************************************

Background: #FFFFFF
Borders: #333333
Text: #434343
Secondary Text: #999999
Main Accent: #3399CC
Links: #3399CC
*/
/* reset styles
***************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
body {
  font-size: 15px;
  color: #434343;
  background: #FFFFFF;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 10px 0;
  padding: 10px 0;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 185%;
}
h3 {
  font-size: 165%;
}
h4 {
  font-size: 150%;
}
h5 {
  font-size: 130%;
}
h6 {
  font-size: 120%;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight {
  display: inline-block;
  padding: 10px 5px;
}
p {
  margin: 0 0 10px;
  line-height: 25px;
}
a:focus,
a:hover {
  text-decoration: underline;
}
a {
  color: #5F97AF;
  text-decoration: none;
}
blockquote {
  margin: 25px;
  color: #666666;
  font-style: italic;
}
strong {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
li ul,
li ol {
  margin: 0 25px;
}
ul,
ol {
  margin: 25px;
  line-height: 30px;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
/* Form elements
***************************************************************/
form {
  margin: 0;
  padding: 0;
}
legend {
  font-size: 20px;
  font-weight: bold;
  border: none;
}
fieldset {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #E4E4E4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
fieldset p {
  clear: both;
}
label {
  font-weight: normal;
  display: block;
  float: left;
  width: 150px;
  padding: 0 10px 0 0;
}
input[type="text"],
input[type="password"] {
  display: block;
  padding: 0.3em;
}
input[type="submit"],
input[type="button"],
button,
.button,
.button:link,
.button:visited {
  padding: 2px 15px;
  text-align: center;
  border: 1px solid #999999;
  color: #333333;
  cursor: pointer;
  background: #F5F5F5;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#CBCBCB));
  background: -moz-linear-gradient(top, #F5F5F5, #CBCBCB);
  border-radius: 4px;
  margin: 0 0 0 160px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:focus,
input[type="button"]:focus,
button:hover,
.button:hover,
button:active,
.button:active,
button:focus,
.button:focus {
  text-decoration: none;
  background: #EBEBEB;
  background: -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#EBEBEB));
  background: -moz-linear-gradient(top, #E1E1E1, #EBEBEB);
  border-radius: 4px;
}
fieldset ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
fieldset ol li {
  margin: 0 0 6px 0;
}
/* utility classes
***************************************************************/
.small {
  font-size: 50%;
}
.large {
  font-size: 125%;
}
.hide {
  display: none;
}
.quiet {
  color: #999999;
}
.loud {
  color: #DF591E;
}
.highlight {
  background: #3399CC;
  color: #ffffff;
}
.removed {
  text-decoration: line-through;
}
.emphasis {
  font-style: italic;
}
/* HTML5 elements
***************************************************************/
header,
footer,
aside,
nav,
article {
  display: block;
}
/* Content lists and details */
.content-items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.content-items li {
  padding: 0;
  margin: 0;
}
.content-items .content-item {
  padding: 6px 0;
  clear: left;
}
.content-items .content-item header h1 {
  color: #5F97AF;
}
.content-items .content-item header h1 a {
  color: #434343;
}
/* arhcive lists */
.archiveMonthList {
  list-style: none;
}
.archiveMonthList li {
  display: block;
  padding: 5px 0;
}
.archive-trail {
  padding: 15px 0;
  font-size: 115%;
}
.zone-content > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.zone-content > ul li {
  margin: 0;
  padding: 0;
}
.zone-content > ul .blog-post header h1 {
  font-size: 165%;
  display: inline-block;
}
.zone-content > ul .blog-post header .metadata {
  margin: 10px 0 0 0;
}
.zone-content > ul .blog-post header h1 a {
  color: #434343;
  text-decoration: none;
}
.zone-content > ul .blog-post header h1 a:hover {
  text-decoration: underline;
}
/* Blog posts */
.blog-posts .content-item header,
.blog-post header,
.tagged-posts .blog-post header {
  padding-bottom: 0;
  border-bottom: 1px dashed #E4E4E4;
  margin-bottom: 10px;
}
.blog-posts .content-item header h1 {
  font-size: 165%;
  display: inline-block;
}
.blog-posts .content-item header h1 a {
  text-decoration: none;
}
.blog-posts .content-item header h1 a:hover {
  text-decoration: underline;
}
.blog-posts .content-item header .metadata {
  margin: 10px 0 0 0;
}
.blog-posts .content-item .more {
  text-align: right;
}
.blog-post header h1 {
  display: inline-block;
}
.blog-post header .metadata {
  margin-top: 20px;
}
/* Tags */
.tags {
  margin: 20px 0;
}
.tags a {
  display: inline-block;
  margin: 5px 2px;
  padding: 2px 5px;
  background-color: #5F97AF;
  color: #fff;
  text-decoration: none;
}
.tags a:hover {
  background-color: #3399CC;
}
.tagged-posts .blog-post header h1 {
  font-size: 165%;
  display: inline-block;
}
.tagged-posts .blog-post header h1 a {
  text-decoration: none;
}
.tagged-posts .blog-post header h1 a:hover {
  text-decoration: underline;
}
.tagged-posts .blog-post header .metadata {
  margin: 10px 0 0 0;
}
ul.tagcloud {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tagcloud li {
  display: block;
  float: left;
}
.tagCloud-tag a {
  display: block;
  float: left;
  margin: 2px;
  padding: 2px 5px;
  background-color: #5F97AF;
  color: #fff;
  text-decoration: none;
}
.tagCloud-tag a:hover {
  background-color: #3399CC;
}
.tagCloud-2 {
  font-size: 110%;
}
.tagCloud-3 {
  font-size: 120%;
}
.tagCloud-4 {
  font-size: 130%;
}
.tagCloud-5 {
  font-size: 140%;
}
/* Metadata */
.metadata {
  margin: 0;
  color: #999999;
  float: right;
}
.metadata .published span {
  display: block;
  text-align: center;
  width: 40px;
}
.metadata .published .month {
  background: none repeat scroll 0 0 #5F97AF;
  border-bottom: 1px solid #818D57;
  border-radius: 3px 3px 0 0;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-size: 75%;
  font-weight: bold;
  line-height: 1em;
  padding: 2px 0;
  text-transform: uppercase;
}
.metadata .published .day {
  background: none repeat scroll 0 0 #F7F1E3;
  border-radius: 0 0 3px 3px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 150%;
  line-height: 1em;
  padding: 5px 0 7px 0;
}
.metadata .published .year {
  background-color: transparent;
  color: #999999;
  margin-top: 5px;
  display: none;
}
.metadata .commentcount {
  display: inline;
}
/* Comments */
#comments {
  margin: 50px 0 0 0;
  padding: 0;
}
.comment-form {
  margin: 50px 0 0 0;
  padding: 0;
}
.comments {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comments li {
  margin: 12px 0 0 0;
  padding: 0 12px;
  border: 1px solid #DBDBDB;
}
.comment {
  margin: 0;
  padding: 0;
}
.comment header {
  border: none;
}
.comment h4 {
  font-size: 110%;
}
.comment-form #comment-by {
  font-size: 125%;
  font-weight: normal;
  margin: 0 0 1.2em 0;
  border: none;
}
.comment-form #comment-text {
  width: 400px;
}
.comment-form input[type="text"] {
  width: 400px;
}
.comment-count {
  font-size: 125%;
}
/* Confirmations */
.message {
  padding: 10px;
  margin-bottom: 20px;
}
.message a {
  font-weight: bold;
}
.message-Information {
  background: #E6F1C9;
  border: 1px solid #CFE493;
  color: #062232;
}
.message-Warning {
  background: #FDF5BC;
  /* yellow */
  border: 1px solid #FFEA9B;
}
.critical.message,
.validation-summary-errors,
.message-Error {
  background: #e68585;
  /* red */
  border: 1px solid #990808;
  color: #FFFFFF;
}
/* pager */
.pager {
  list-style: none;
  margin: 1em 0;
  text-align: right;
}
.pager li {
  display: inline-block;
  background-color: #E4E4E4;
  font-size: 85%;
  margin-left: 5px;
  width: 75px;
  text-align: center;
}
.pager a {
  padding: 0 15px 0 15px;
  display: block;
  color: #999999;
  text-decoration: none;
  text-transform: lowercase;
}
.pager a:hover {
  text-decoration: none;
  background-color: #3399CC;
  color: #ffffff;
}
/* image gallery */
.image-gallery {
  text-align: center;
}
.image-gallery img {
  margin: 0 10px;
}
html {
  background-color: #333333;
}
/* container for column elements */
.container {
  width: 60%;
  margin: 0 auto;
}
.column {
  display: inline;
  float: left;
  position: relative;
  margin: 0 0 0 20px;
  padding: 0;
  width: 30%;
}
.column:first-child {
  margin-left: 0;
}
.double {
  width: 60%;
}
.triple {
  width: 90%;
}
.container:after,
.column:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#header {
  background-color: #333333;
  border-bottom: 5px solid #000000;
  padding: 5px 0;
}
#header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  margin: 12px 0 0 0;
  padding: 0;
}
#header h1 a {
  text-decoration: none;
  color: #FFFFFF;
}
#header ul {
  list-style: none;
  margin: 0;
  padding: 15px 0 25px 0;
  float: right;
}
#header ul li {
  display: block;
  float: left;
}
#header ul li a {
  color: #CCCCCC;
  display: block;
  height: 30px;
  margin: 0;
  text-align: right;
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 75px;
}
#header ul li.current a {
  color: #3399CC;
}
#header ul li a:hover {
  color: #FFFFFF;
}
#content {
  padding: 20px 0;
}
.featured {
  padding: 20px;
  background-color: #3399CC;
  color: #FFFFFF;
  font-size: 200%;
  line-height: 40px;
  margin-bottom: 30px;
}
.featured:after {
  margin-top: 14px;
  content: url(../images/speech.gif);
  display: block;
  position: absolute;
}
#footer {
  background-color: #333333;
  color: #DDDDDD;
  padding: 20px 0 0 0;
}
#footer .column {
  padding-bottom: 10px;
}
#footer h1 {
  padding-bottom: 10px;
  border-bottom: 1px dashed #999;
  font-size: 150%;
}
#footer p {
  text-align: center;
}
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #eee;
}
#content code {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}
@media screen and (max-device-width: 1024px) {
  .container {
    padding: 1em;
    width: 88%;
  }
  .column,
  .double,
  .triple {
    width: 100%;
    margin: 10px 0;
  }
  #header ul {
    margin: 0 0 0 -30px;
    padding: 0;
    float: none;
    display: block;
  }
}